@model DesignPattern.Decorator.DAL.Message
@{
    ViewData["Title"] = "Index2";
}

<form method="post">
    <label>Gönderen</label>
    <input type="text" class="form-control" asp-for="MessageSender" />
    <br />
    <label>Alıcı</label>
    <input type="text" class="form-control" asp-for="MessageReceiver" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" asp-for="MessageSubject" />
    <br />
    <label>Mesaj İçeriği</label>
    <input type="text" class="form-control" asp-for="MessageContent" />
    <br />
    <button class="btn btn-success">Mesajı Gönder</button>
</form>
