@model CustomerProcessViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <label>Müşteri Adı Soyadı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Çekilecek Miktar</label>
        <input type="text" class="form-control" asp-for="Amount" />
        <br />
        <button class="btn btn-warning">Para Çek</button>
    </form>
</div>
