@model CustomerViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <label>Gönderici ID</label>
        <input type="text" class="form-control" asp-for="SenderID" />
        <br />
        <label>Alıcı ID</label>
        <input type="text" class="form-control" asp-for="ReceiverID" />
        <br />
        <label>Miktar</label>
        <input type="text" class="form-control" asp-for="Amount" />
        <br />
        <button class="btn btn-primary">Gönder</button>
    </form>
</div>
