@model DesignPattern.CQRS.CQRSPattern.Commands.CreateProductCommand
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <label>Ürün Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Ürün Stok Sayısı</label>
        <input type="text" class="form-control" asp-for="Stock" />
        <br />
        <label>Ürün Fiyatı</label>
        <input type="text" class="form-control" asp-for="Price" />
        <br />
        <label>Ürün Açıklaması</label>
        <input type="text" class="form-control" asp-for="Description" />
        <br />
        <button class="btn btn-dark">Ürünü Ekle</button>
    </form>
</div>

