@model List<DesignPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Getir</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.ProductName</td>
                <td>@item.Price ₺</td>
                <td>@item.Stock</td>
                <td><a href="/Default/GetProduct/@item.ID" class="btn btn-dark">Getir</a></td>
                <td><a href="/Default/DeleteProduct/@item.ID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Default/UpdateProduct/@item.ID" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Default/AddProduct/" class="btn btn-primary">Yeni Ürün Girişi</a>
</div>